[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "~=0.0"
dropbox = "~=11.0.0"
pillow = "~=9.0"
requests = "~=2.23"

[requires]
python_version = "3.8"
